
<div>
  <p-splitter [style]="{ height: '100vh' }">
    <ng-template pTemplate>
      <div class="panel col-12" *ngIf="showTopContent" @slideInFromTop>
        <div class="company-logo"></div>
        <h1 class="form-title p1">Azrieth<br>Handbags</h1>
        <div class="content">
          Where Fashion Meets Functionality
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="d-flex form-container col-12" *ngIf="showBottomContent" @slideInFromBottom>
        <form [formGroup]="frm_Login">
          <h3 class="form-title p2">Login</h3>
          <div class="form-components">
            <div class="Username">
              <label for="Username">Username</label>
              <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input type="text" pInputText formControlName="Username" id="Username" [style]="{'width':'100%'}" class="input"
                  placeholder="Username">
              </p-inputGroup>
              <small *ngIf="isInvalid('Username')" class="invalid-text">Required</small>
            </div>
            <div class="Password">
              <label for="Password">Password</label>
              <p-password id="Password" type="password" placeholder="Password" formControlName="Password"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"  [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [toggleMask]="true"  [feedback]="false" class="input">
              </p-password>
              <small *ngIf="isInvalid('Password')" class="invalid-text">Required</small>
            </div>
            <button type="submit" (click)="onSubmit();isValidCredential()" [disabled]="!enableSubmit()">Login</button><br><br>
            <p-messages></p-messages>
            <span>Don't have an account yet? <a routerLink="/signup">Create one</a></span>
          </div>
        </form>
      </div>
    </ng-template>
  </p-splitter>
</div>






