
.panel{
  background-color: orangered;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .msg{
  color: #000000;
  font-size: 50px;
  height: 15vh;
  width: max-content;
  margin-bottom: 2vh;
} */

.company-logo{
  height: 20vh;
  width: 20vh;
  background-image: url(../../assets/company-logo.png);
  background-size: cover;
}

.p1{
  font-size: 50px;
  color: #000000;
  max-height: 20vh;
  margin-top: 3vh;
}

.content{
  font-size: 25px;
  color: #000000;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.form-title {
  text-align: center;
}

.p2{
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-components {
  margin-top: 20px;
}


.Username,.Password,.ConfirmPassword{
  font-size: 16px;
  margin: 15px 0px;
}

label{
  color: white;
  font-size: 18px;
  margin-bottom: -2px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

.span{
  align-items: center;
  justify-content: center;
}

input.ng-invalid.ng-touched{
  border: red 1px solid;
}

.invalid-text{
  color:red;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

::ng-deep .p-password input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



